@page "/login"
@using AssignmentCSharp6.Service
@using BlazorModel.Models
@inject NavigationManager _NavigationManager
@inject IAuthServicecs authService


<h3>Login</h3>


<EditForm Model="loginRequest" OnValidSubmit="OnSubmit" style="max-width:500px;">
    <DataAnnotationsValidator/>
    <ValidationSummary />
    <div class="mb-2">
        <InputText class="form-control" id="username" @bind-Value="loginRequest.username" placeholder="Nhập username"></InputText>
    </div>
    <div class="mb-2">
        <InputText type="password" id="password" class="form-control" @bind-Value="loginRequest.password" placeholder="Nhập password"></InputText>
    </div>
    <div class="mb-2 text-right">
        <button class="btn btn-secondary" >Đăng nhập</button>
    </div>
</EditForm>

@code {
    LoginRequest loginRequest = new LoginRequest();


    private async Task OnSubmit()
    {
        var result = await authService.Login(loginRequest);
        if (result.Successful)
        {
            _NavigationManager.NavigateTo("/");
        }
    }
}