@page "/NganhIndex"
@using AssignmentCSharp6.Service
@using BlazorModel.Models
@inject HttpClient Http

<PageTitle>Ngành</PageTitle>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <NotAuthorized>
        <h1>Bạn phải đăng nhập</h1>
        <a href="/login" target="_blank">Login</a>
    </NotAuthorized>
    <Authorized>
<h1>Ngành</h1>

<div class="col pt-4">
    <a href="/NganhCreate" class="btn btn-success">Tạo</a>
</div>

@if (_nganhs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Mã ngành</th>
                <th>Tên ngành</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in _nganhs)
            {
                <tr>
                    <td>@x.MaNganh</td>
                    <td>@x.TenNganh</td>
                    <td>
                        <a href="/NganhUpdate/@x.MaNganh" class="btn btn-primary">Cập nhật</a>
                         <a href="/NganhDelete/@x.MaNganh" class="btn btn-danger">Xoá</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@code {

    [Inject] private INganhApi _NganhApi { get; set; }
    private List<Nganh> _nganhs;
    protected override async Task OnInitializedAsync()
    {
        _nganhs = await _NganhApi.GetList();
    }

}
